.contacto{
    background-color: #101935;
    width: 100%;
    height: 328px;
    color: white;
    
    .contacto__content{
        display: flex;
       
        ul{
            a{   
                text-decoration: none;
                list-style: none;
                color: white;  
            }
   
        }
        .contacto__content__item1{
            width: 384px;
            height: 48px;
        }
        .contacto__content__item2{
            width: 214px;
            height: 24px;
        }
        .contacto__content__item3{
            width: 214px;
            height: 24px;
        }
        .contacto__content__item4{
            width: 214px;
            height: 48px;
        }
    }
}